* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.add-project-form-cont {
  background-color: black;
  border: 2px solid rgb(47, 0, 255);
  height: 200px;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  display: none;
}
.add-project-form-cont__exit-cont {
  background-color: black;
  border-bottom: 1px solid rgb(47, 0, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-project-form-cont__exit-cont__title {
  margin-left: 32%;
  color: rgb(47, 0, 255);
  font-size: 1.3rem;
}
.add-project-form-cont__exit-cont__exit-button {
  margin: 0.5rem;
  width: 30px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
}
.add-project-form-cont__form {
  flex-grow: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.add-project-form-cont__form__project-title {
  width: 230px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
  font-size: 1rem;
  border: none;
  border: 1px solid rgb(47, 0, 255);
}
.add-project-form-cont__form__submit-button {
  width: 100px;
  background-color: black;
  color: rgb(47, 0, 255);
}

.edit-project-form-cont {
  background-color: black;
  border: 2px solid rgb(47, 0, 255);
  height: 200px;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  display: none;
}
.edit-project-form-cont__exit-cont {
  background-color: black;
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-project-form-cont__exit-cont__title {
  margin-left: 32%;
  color: rgb(47, 0, 255);
  font-size: 1.3rem;
}
.edit-project-form-cont__exit-cont__exit-button {
  margin: 0.5rem;
  width: 30px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
}
.edit-project-form-cont__form {
  flex-grow: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.edit-project-form-cont__form__project-title {
  width: 230px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
  font-size: 1rem;
  border: none;
  border: 1px solid rgb(47, 0, 255);
}
.edit-project-form-cont__form__submit-button {
  width: 100px;
  background-color: black;
  color: rgb(47, 0, 255);
}

.add-to-do-form-cont {
  background-color: black;
  border: 2px solid rgb(47, 0, 255);
  height: 300px;
  width: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  display: none;
}
.add-to-do-form-cont__exit-cont {
  background-color: black;
  border-bottom: 1px solid rgb(47, 0, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-to-do-form-cont__exit-cont__title {
  margin-left: 38%;
  color: rgb(47, 0, 255);
  font-size: 1.3rem;
}

.add-to-do-form-cont__exit-cont__exit-button {
  margin: 0.5rem;
  width: 30px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
}
.add-to-do-form-cont__form {
  flex-grow: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.add-to-do-form-cont__form__to-do-title {
  width: 270px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
  font-size: 1rem;
  border: none;
  border: 1px solid rgb(47, 0, 255);
}
.add-to-do-form-cont__form__to-do-date {
  width: 150px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
  font-size: 1rem;
  border: none;
  border: 1px solid rgb(47, 0, 255);
}
.add-to-do-form-cont__form__submit-button {
  width: 100px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
}

.edit-to-do-form-cont {
  background-color: black;
  border: 2px solid rgb(47, 0, 255);
  height: 300px;
  width: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  display: none;
}
.edit-to-do-form-cont__exit-cont {
  background-color: black;
  border-bottom: 1px solid rgb(47, 0, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-to-do-form-cont__exit-cont__title {
  margin-left: 38%;
  color: rgb(47, 0, 255);
  font-size: 1.3rem;
}

.edit-to-do-form-cont__exit-cont__exit-button {
  margin: 0.5rem;
  width: 30px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
}
.edit-to-do-form-cont__form {
  flex-grow: 1;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.edit-to-do-form-cont__form__to-do-title {
  width: 270px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
  font-size: 1rem;
  border: none;
  border: 1px solid rgb(47, 0, 255);
}
.edit-to-do-form-cont__form__to-do-date {
  width: 150px;
  height: 30px;
  background-color: black;
  color: rgb(47, 0, 255);
  font-size: 1rem;
  border: none;
  border: 1px solid rgb(47, 0, 255);
}
.edit-to-do-form-cont__form__submit-button {
  width: 100px;
  background-color: black;
  color: rgb(47, 0, 255);
}

.header {
  height: 100px;
  background-color: black;
  border: 1px solid rgb(47, 0, 255);
}
.main {
  min-height: 580px;
  background-color: black;
  border: 1px solid rgb(47, 0, 255);
  display: flex;
}
.main-cont {
  max-width: 1520px;
  background-color: black;
  border: 1px solid rgb(47, 0, 255);
  margin: 0 auto;
  position: relative;
}
.menu {
  background-color: black;
  border: 1px solid rgb(47, 0, 255);
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__add-project-button {
  background-color: rgb(9, 1, 20);
  color: rgb(47, 0, 255);
  width: 230px;
  height: 40px;
  margin: 1rem;
}

.display {
  background-color: black;
  border: 1px solid rgb(47, 0, 255);
  flex-grow: 1;
}
@media (max-width: 700px) {
  .main {
    flex-direction: column;
  }
  .menu {
    height: 70px;
    width: 100%;
  }
}

.footer {
  height: 80px;
  background-color: black;
  border: 1px solid rgb(47, 0, 255);
}
